<p class="back-to-top">
    <a href="#top" id="skip-to-top" title="Nach oben springen">
      <span aria-hidden="true">
        ▲<span class="text">Nach oben</span>
      </span>
      <span class="visually-hidden">Nach oben</span>
    </a>
  </p>
<footer>
    <div class="wrapper">
        <p class="text">
          Gemacht mit ♥ und
          <a
            href="https://www.11ty.dev/"
            target="_blank"
            rel="noopener noreferrer"
          >
            Eleventy
          </a>
          von Minh Khang Tran im Jahre 2022.
        </p>
        <div class="unnoetige__links">
          <a href="/impressum">Impressum</a>
          <a href="/datenschutzerklaerung">Datenschutzerklärung</a>
        </div>
      </div>
    
</footer>